.ipynb_checkpoints/
__pycache__/

article-body-recognizer/tmp/
article-body-recognizer/charemb-dataset/tmp/
article-body-recognizer/htmlsecreg-dataset/tmp/

logs/

*.ipynb
!char_embedding_training__2nb__.ipynb
